[submodule "backend"]
	path = backend
	url = https://github.com/sajanstha201/Bitcoin-Prediction-Backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/sajanstha201/Bitcoin-Prediction.git
